extends layout
block beforeBody
  - bodyClasses.push('main')

extends layout

block content
   div#pagepiling
      div.section
         artcile.about_me
            div.image_container
               div.placeholder_image
            h1 Hi, I'm Chris
            h2 I'm a Seattle based interactive web developer. 
            h3 I specalize in highly polished, elegant and easy to use responsive websites.
            p These are some of the brands I've worked for, scroll down to learn about select projects, or contact me if you're interested in working together
            div.brands
               mixin client(img)
                  img(src="/images/brands" + img)

               +client('/if.svg')
               +client('/starbucks.png')
               +client('/brooks.png')
               +client('/chefinthehat.png')
               +client('/bspot.jpg')
               +client('/glg.png')
               +client('/tmo.png')
            button.ui_scroll_down

      - var projects = _.chain(contents['projects']._.pages).sortBy(function(item){return item.metadata.order}).value()
      - var n = 1
      each project in projects
         - var projectTitle = project.metadata.projectTitle
         - var cssClass = project.metadata.cssClass
         - var image = project.metadata.image
         - var imageTitle = project.metadata.imageTitle
         - var detailsTitle = project.metadata.detailsTitle
         - var detailsCopy = project.metadata.detailsCopy
         if projectTitle == null
            - return
         else
            div(class="#{cssClass}").section
               article.project
                  h1
                     a(href="http://"+ link +"" target="_blank")= projectTitle
                  div.project_card
                     div.project_details.project_image
                        img(src="/images/"+ image +"" title=imageTitle)
                     div.project_details.project_description
                        h2= detailsTitle
                        p= detailsCopy
                  button.btn.btn_show_info Project Info